body {
    background-color: #F4F5DB;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 0px;
}

hr {
    border-color: #D9DAB0;
    border-style: solid;
    border-width: 5px 0 0;
    margin: 50px auto;
    width: 70%;
}

h1 {
    color: #23689B;
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    margin: 100px auto 0 auto;
}

h2 {
    color: #129bd6;
    font-family: 'Cabin', sans-serif;
    font-size: 2.5rem;
}

h3 {
    color: #23689B;
}

a {
    color: #ffffff;
    padding: 10px 50px;
    text-decoration: none;
}

a:hover {
    color: #bce4ff;
}

.intro {
    color: #129bd6;
    padding: 0;
}

.profImage {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.myImages {
    position: relative;
    right: 30px;
    float: left;
    border-radius: 50%;
    width: 25%;
}

.myImages2 {
    position: relative;
    left: 30px;
    float: right;
    border-radius: 50%;
    width: 25%;
}

.top {
    background-color: #f6f7e7;
    padding-top: 30px;
}

.bottomCloud {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    position: absolute;
    left: 450px;
    bottom: 400px;
}

.topCloud {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    position: absolute;
    right: 450px;
    top: 275px;
}

.mtn {
    max-width: 600px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.skill-row {
    line-height: 2;
    margin: 100px auto;
    text-align: left;
    width: 50%;
}

.profile{
    margin: 70px auto;
    width: 30%;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #000000;
    font-family: 'Cabin', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.bottom-container {
    background-color: #23689B;
    margin-top: 20px;
    padding: 40px;
}

.middle-container {
    padding-top: 20px;
    padding-bottom: 20px;
}